.page-header {
  display: flex;
  flex-direction: column-reverse;
  min-height: 56px;

  background-color: #ffffff;
  color: #ffffff;
}

.page-header__logo {
  height: 84px;
  text-align: center;

  @media (min-width: $desktop-width) {
    height: 96px;
  }
}

.page-header__logo img {
  width: 102px;
  height: 84px;
}
